@model List<Units_Management_System.Models.ViewModels.Students_TeachersViewModel>
<h1>List of Students with their Teachers:</h1>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Family</th>
            <th>Teachers</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.TeachersName</td>
            </tr>
        }
        </tbody>
    </table>
</div>